.aj-space-left {
	padding-left: $space;
}

.aj-more-space-left {
	padding-left: $more-space;
}

.aj-space-right {
	padding-right: $space;
}

.aj-more-space-right {
	padding-right: $more-space;
}

.aj-space-sides {
	padding-left: $space;
	padding-right: $space;
}

.aj-more-space-sides {
	padding-left: $more-space;
	padding-right: $more-space;
}