<md-tabs md-border-bottom md-swipe-content md-center-tabs>
	<md-tab label="Activities">
		<md-content class="md-padding" ng-controller="activitiesController" md-swipe-right>
			<ng-include src="'partials/one.html'"></ng-include>
		</md-content>
	</md-tab>
	<md-tab label="Locations">
		<md-content class="md-padding" md-swipe-right>
			<ng-include src="'partials/two.html'"></ng-include>
		</md-content>
	</md-tab>
	<md-tab label="Rewards">
		<md-content class="md-padding" ng-controller="rewardsController" md-swipe-right flex>
			<ng-include src="'partials/three.html'"></ng-include>
		</md-content>
	</md-tab>
</md-tabs>