<md-toolbar class="md-whiteframe-z2" layout="row">
	<div class="md-toolbar-tools aj-no-padding-right">
		<ng-md-icon icon="whatshot" size="32" style="height:32px; width:32px;"></ng-md-icon>
		<div flex></div>
		<h1>{{points}} Points</h1>
	</div>
	<md-menu md-position-mode="target-right target">
		<md-button aria-label="More" ng-click="openMore($mdMenu, $event)">
			<ng-md-icon icon="more_vert" size="32" style="height:32px; width:32px;"></ng-md-icon>
		</md-button>
		<md-menu-content width="3">
			<md-menu-item ng-hide="true"> <!-- Used to grab autofocus -->
				<md-button>
					Dummy
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="showDialog('about', $event)">
					<ng-md-icon icon="info" size="18" style="height:20px; width:20px; opacity: 0.87;"></ng-md-icon>
					About
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="showDialog('help', $event)">
					<ng-md-icon icon="help" size="18" style="height:20px; width:20px; opacity: 0.87;"></ng-md-icon>
					Help
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="showDialog('settings', $event)">
					<ng-md-icon icon="settings" size="18" style="height:20px; width:20px; opacity: 0.87;"></ng-md-icon>
					Settings
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</md-toolbar>